<figure
  class="gallery-item"
  {%
  if
  include.event
  %}
  data-event="{{ include.event | escape }}"
  {%
  endif
  %}
>
  {% assign webp_src = include.src
    | replace: ".jpeg", ".webp"
    | replace: ".jpg", ".webp"
    | replace: ".png", ".webp"
  %}
  {% assign image_meta = site.data.image_dimensions[include.src] %}
  <button
    type="button"
    class="gallery-trigger"
    aria-label="Ampliar imagen: {{ include.alt | escape }}"
  >
    <picture>
      <source srcset="{{ webp_src | relative_url }}" type="image/webp" />
      <img
        src="{{ include.src | relative_url }}"
        alt="{{ include.alt | escape }}"
        loading="lazy"
        {% if image_meta %}
        width="{{ image_meta.width }}"
        height="{{ image_meta.height }}"
        {% endif %}
      />
    </picture>
  </button>

  {% if include.caption %}
  <figcaption>{{ include.caption }}</figcaption>
  {% endif %}

  <a
    href="{{ include.src | relative_url }}"
    class="gallery-download"
    download
  >
    <i class="fa-solid fa-download" aria-hidden="true"></i>
    Descargar imagen
  </a>
</figure>
