<!-- <figure{% if include.event %} data-event="{{ include.event | escape }}"{% endif %}>
  <img src="{{ include.src | relative_url }}" alt="{{ include.alt | escape }}" loading="lazy" />

  {% if include.caption %}
    <figcaption>{{ include.caption }}</figcaption>
  {% endif %}
</figure> -->

<figure
  class="gallery-card"
  {%
  if
  include.event
  %}
  data-event="{{ include.event | escape }}"
  {%
  endif
  %}
>
  <div class="gallery-image-wrapper">
    <img
      src="{{ include.src | relative_url }}"
      alt="{{ include.alt | escape }}"
      loading="lazy"
    />
  </div>

  {% if include.caption %}
  <figcaption class="gallery-caption">{{ include.caption }}</figcaption>
  {% endif %}
</figure>
